/******************************************
*  Author : xiaohui   
*  Created On : Thu Jul 19 2018
*  File : layout.css
*******************************************/
body{background: radial-gradient(at top left, #26c3e4, #218cd4, #0a49ba);}

.layout{padding: 0 20px;overflow: hidden;}

.header{margin: 36px 0;color: #fff;line-height: 32px;}
.header h1{float: left;margin: 0;letter-spacing: 2px;font-size: 28px;}

.function-box{float: right;font-size: 0;}
.function-box strong{font-size: 14px;vertical-align: middle;font-weight: normal;}
.function-box span {font-size: 0;margin-left: 42px;vertical-align: middle;}
.function-box span a{color: #fff;font-size: 14px;text-decoration: none;vertical-align: middle;}
.function-box span em{margin: 0 20px;font-size: 14px;vertical-align: middle;}

.menu{margin-bottom: 20px;border-radius: 25px 0 25px 0; line-height: 40px;font-size: 0; background-color: rgba(255, 255, 255, .7);overflow: hidden;}
.menu a{display: inline-block; padding: 0 20px; font-size: 14px; color: #1d4695;text-decoration: none;vertical-align: middle;}
.menu .home{padding: 0 30px;font-size: 18px;}
.menu a.active, .menu a:hover{background-color: rgba(255, 255, 255, .9);}

.container{position: relative;}
.aside{position: absolute;left: 0;top: 0;width: 150px;}
.aside a{display: block;width: 100%;height: 30px;margin-top: 20px; border-radius: 25px;border: 1px solid rgba(255, 255, 255, .5);line-height: 30px;box-sizing: border-box;text-align: center;font-size: 14px;color: #1d4695;text-decoration: none;background-color: rgba(255, 255, 255, .7);}
.aside a.active, .aside a:hover{background-color: transparent;border-color: #fff;}

.frame{margin-left: 170px;padding: 0 20px;min-height: 400px;background-color: rgba(255, 255, 255, .2);overflow: hidden;}


.filters-box{font-size: 0px;color: #fff;margin: 20px 0;}
.form-item{font-size: 14px;display: inline-block; margin-right: 18px;}
.form-item input{border: 1px solid #fff;border-radius: 5px;background-color: transparent;line-height: 30px;outline: none 0;padding-left: 1em;color: #fff;}
.form-item button{width: 68px;}

.fiw84{width: 84px;}
.fiw184{width: 184px;}
.btn{background-color: #fff;border: 0;border-radius: 5px;color: #1d4696;line-height: 30px;outline: 0 none;cursor: pointer;}

.table-box{font-size: 14px;height: 300px;overflow-y: auto;}
.table-box table{width: 100%;border-collapse: collapse;line-height: 40px;}
.table-box thead{border-bottom: 1px solid #fff; background-color: rgba(255, 255, 255, .2);}
.table-box th{color: #fff;font-weight: normal;}

.table-box tbody{color: #fff;text-align: center;}
.table-box tbody tr{border-bottom: 1px solid rgba(255, 255, 255, .2);}
.table-box tbody i{margin: 0 12px;}

.pagenation-box{margin: 30px 0;text-align: right;font-size: 0;color: #fff;}
.pagenation-box span{display: inline-block; vertical-align: middle;}
.pagenation-box .pagenation-info{font-size: 14px;margin: 0 36px 0 20px;}
.pagenation-box .pagenation-skip{font-size: 14px;}
.pagenation-box .pagenation-skip input{width: 68px;height: 30px;box-sizing: border-box;border: 1px solid #fff;text-align: center;background-color: transparent;color: #fff;border-radius: 5px;margin: 0 10px;outline: 0 none;}
.pagenation-box button{font-size: 14px;margin-left: 10px;}

.btn.stroke{background-color: transparent;border: 1px solid #fff;color: #fff;padding: 0 10px;}
